.todosContainer {
  height: 100%;
  background-color: bisque;
  overflow-y: scroll;
}

/* width */
.todosContainer::-webkit-scrollbar {
  width: 2em;
}

/* Track */
.todosContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.todosContainer::-webkit-scrollbar-thumb {
  background: #888;
}
