.form {
  padding: 2rem 1.5rem;
  text-align: center;
  grid-area: "form";
}

.form__input {
  font-family: var(--font-primary);
  font-size: 2rem;
  border: 1px solid #000;
  width: 35rem;
  border-radius: 5px;
  padding: 1.5rem 2rem;
  background-color: rgba(#333, 0.3);
  /* border-bottom: 3px solid transparent; */
}

.form__input:focus {
  outline: none;
  border-bottom: 3px solid var(--color-primary-dark);
  box-shadow: 0 1rem 2rem rgba(#000, 0.2);
}

.form__input::-webkit-input-placeholder {
  color: var(--color-grey-light-1);
}

.add__btn {
  margin: 0 2rem;
  width: 15rem;
  outline: none;
  color: var(--color-grey-light-1);
  padding: 1.5rem 2rem;
  border-radius: 50px;
  border: none;
  font-size: 2.5rem;
  font-family: var(--font-display);
  box-shadow: 0 2rem 3rem rgba(#000, 0.5);
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary),
    var(--color-primary-dark)
  );
  transition: all 0.5s ease-in-out;
}

.add__btn:hover {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 5px 10px rgba(#000, 0.2);
}

.add__btn:active {
  outline: none;
  transform: translateY(0rem);
  box-shadow: 0 5px 10px rgba(#000, 0.2);
}
