.form {
  padding: 1em 0;
  /* background-color: aqua; */
  display: grid;
  grid-template-columns: 1fr min-content;
  column-gap: 1em;
  align-items: center;
}

.form__input {
  font-family: var(--font-display);
  font-size: 2.4em;
  height: 2em;
  border-radius: 5px;
  background-color: rgba(#333, 0.3);
  padding: 0 0.5em;
  /* border-bottom: 3px solid transparent; */
}

.form__input:focus {
  outline: none;
  box-shadow: 0 1em 2em rgba(#000, 0.2);
  /* border-bottom: 3px solid var(--color-primary-dark); */
}

.btn_container {
  /* background-color: coral; */
  display: flex;
}

.option_button {
  margin: 0 1em;
  padding: 0.8em;
  outline: none;
  width: 7.5em;
  border-radius: 50px;
  font-size: 1.5em;
  font-family: var(--font-primary);
  transition: all 500ms ease-in-out;
  box-shadow: 0 2em 3em rgba(#000, 0.5);
}

.option_button:hover {
  outline: none;
  transform: translateY(-0.1em);
  box-shadow: 0 5px 10px rgba(#000, 0.2);
}

.option_button:active {
  outline: none;
  transform: translateY(0em);
  box-shadow: 0 5px 10px rgba(#000, 0.2);
}

.cancel {
  font-size: 3em;
  padding: 0.2em 0.5em;
  margin-right: 0.5em;
  cursor: pointer;
}
