.todo {
  display: grid;
  grid-template-columns: 60fr 40fr;
  align-items: center;
  padding: 1.5em 0.8em;
  font-family: var(--font-display);
  /* background-color: #fff; */
  border-bottom: 2px solid #000;
}

.options {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* background-color: aqua; */
}

.done {
  text-decoration: line-through;
  text-transform: capitalize;
  font-size: 2.4em;
}

.todoText {
  /* color:var(--color-grey-dark-2); */
  text-transform: capitalize;
  font-size: 2.4em;
}
