:root {
  --color-primary: #c69963;
  --color-primary-dark: #b28451;

  --color-grey-light-1: #f9f7f6;
  --color-grey-light-2: #aaa;
  --color-grey-light-3: #d3d3d3;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --font-display: "Nunito", sans-serif; /*text*/
  --font-primary: "Josefin Sans", sans-serif; /*heading*/

  font-family: var(--font-display);
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  font-family: var(--font-primary);
  font-weight: 400;
  color: var(--color-grey-light-1);
} */

.container {
  height: 100vh;
  font-size: 62.5%; /*1em=10px*/
  display: grid;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.app {
  /* border: 1px solid #000; */
  height: 65em;
  width: 62em;
  border-radius: 1em;
  padding: 1em;
  display: grid;
  grid-template-rows: repeat(2, min-content) 1fr min-content;
}

button {
  padding: 10px 1em;
  margin: 1em;
}

@media only screen and (max-width: 1200px) {
  .container {
    font-size: 56.25%; /*9px*/
  }
  .app {
    /* border: 1px solid #000; */
    height: 58em;
    width: 56em;
    padding: 1em;
  }
}

@media only screen and (max-width: 900px) {
  .container {
    font-size: 50%; /*8px*/
  }
}

@media only screen and (max-width: 700px) {
  .container {
    font-size: 37.5%; /*6px*/
  }

  .app {
    height: 75em;
    width: 65em;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    font-size: 30%; /*4.8px*/
  }

  .app {
    height: 80em;
  }
}

@media only screen and (max-width: 400px) {
  .container {
    font-size: 27%; /*4.4px*/
  }

  .app {
    margin: 2em;
    height: 84em;
  }
}

@media only screen and (max-width: 300px) {
  .container {
    font-size: 25%; /*4px*/
  }
}
